<!DOCTYPE html>
<html>
<head>
    <title>Mis Pedidos</title>
</head>
<body>
    <h1>Mis Pedidos</h1>
    <table>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <div>Fecha: {{ pedido.fecha }}</div>
                    <div>Correo: {{ pedido.correo }}</div>
                    <div>Monto Total: {{ pedido.monto_total }}</div>
                    <div>Estado: {{ pedido.get_estado_display }}</div>
                    <div>
                        <a href="{% url 'detalle' pedido.numero_compra %}">Ver Detalle</a>
                    </div>
                    <p></p>
                </tr>
            {% empty %}
                <tr>
                    <div colspan="5">No tienes pedidos.</div>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
